<div class="measure">
	<label class="f6 b db mb2" for="message_name">
		Name <span class="normal black-60">(optional)</span>
	</label>
	<input aria-describedby="name-desc" class="input-reset ba b--black-20 pa2 mb2 db w-100" id="message_name" name="message[name]"
	 type="text" bind:value=name>
</div>

<div>
	<label class="f6 b db mb2" for="message_content">Message</label>
	<textarea aria-describedby="comment-desc" class="db border-box hover-black w-100 measure ba b--black-20 pa2 mb2" id="message_content"
	 name="message[content]" placeholder="Type your message here ..." bind:value=content></textarea>
</div>

<!-- TODO I'd rather have on:submit instead of on:click -->

<div class="mt3">
	{#if submitEnabled && content.trim() !== "" }
	<button class="b ph3 pv2 w-100 input-reset ba b--black bg-transparent pointer f6 border-box" type="submit" on:click="handleSubmit(event)">SEND
		IT</button>
	{:else}
	<button class="b ph3 pv2 w-100 input-reset ba b--black-20 bg-transparent pointer f6 border-box" type="submit" on:click="handleSubmit(event)"
	 disabled>SEND IT</button>
	{/if}
</div>

<script>
  export default {
    methods: {
      handleSubmit(event) {
        event.preventDefault();
        let { name, content } = this.get();

        if (content.trim() !== "") {
          this.fire("submit", this.get());
        }
      }
    }
  };
</script>
